<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<style>
    html {
        background-color: pink;
    }
</style>

<body>
    {% block content %}

    <b>Меня зовут Матвей,я живу в Санкт-Петербурге. Имею высшее техническое образование. В данный момент являюсь
        действующим офицером ВС РФ. На гикбрейнс пришёл ради того, чтобы поменять профессию в которой разочаровался.</b>
    <br>
    <br>
    <button><a href="/bio"> Моё фото тут :) *ТЫК*</a> </button>
    <br>
    <br>
    <button><a href="/gitinstruction"> Моя инструкция по ГИТу :) *ТЫК*</a> </button>
    {% endblock %}

</body>

</html>