<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foto</title>
</head>
<body>
    {% block content %}

<h1>Это моё фото!</h1>
<img src="https://sun9-21.userapi.com/impg/icgBIxce3XOWJ3mNimqMf-c0TpUXqDI4iuthKQ/o4u9yjeIVtA.jpg?size=864x1080&quality=95&sign=445ed25284402654baa94e4731d7e809&type=album"
    alt="">
<br>
<button>
    <a href="/secondfoto">Ещё фотка :3 *ТЫК*</a>
</button>
{% endblock %}
</body>
</html>
