<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Second Foto</title>
</head>
<body>
{% block content %}

<h1>Это моё второе фото!</h1>
<img src="https://sun9-88.userapi.com/impg/jKQQiuHoAOnDjtV_C9ercuO5NQaeb54F6YJ6_g/DVRqar_BK40.jpg?size=2560x1920&quality=95&sign=1b1fde54ccd107604170c2f5ba7e8ffc&type=album"
    alt="">
<br>
<button>
    <a href="/gitinstruction">Инструкция по ГИТу *ТЫК*</a>
</button>
{% endblock %}
</body>
</html>
